---
import LinkedIn from "@logos/LinkedIn.astro";
import GitHub from "@logos/GitHub.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import solid from "/assets/solid.png";
import java from "/assets/java.png";
import tailwind from "/assets/tailwind.png";
import ts from "/assets/ts.png";
import js from "/assets/js.png";
import ahmad from "/assets/ahmad.jpg";
import omni from "/assets/omniman.png";
import shapes from "/assets/shapes.avif";
import mountain from "/assets/mountain.jpg";
import deer from "/assets/deer.jpg";
import bh from "/assets/blackhole.jpg";
import resume from "/assets/Resume.pdf";
---

<BaseLayout>
	<div class="m-10">
		<main class="container mx-auto">
			<div class="flex flex-col items-center">
				<div class="mt-32">
					<h1
						class="animate-text bg-gradient-to-l from-blurama to-pinkrama bg-clip-text text-transparent font-bold font-inter md:text-8xl select-none"
					>
						Jericho Opsima
					</h1>
				</div>
			</div>

			<div class="flex justify-center">
				<span class="font-inter text-white md:text-[1.3rem] opacity-20">
					2<sup>nd</sup> year Computer Science student from the Philippines
				</span>
			</div>

			<div class="flex gap-x-5 justify-center">
				<GitHub />
				<LinkedIn />
			</div>

			<div class="flex justify-center mt-7">
				<a href={resume} download="Resume" class="p-2  bg-gradient-to-l from-blurama to-pinkrama bg-clip-text hover:text-transparent delay-50 transition-all rounded-xl text-white font-semibold justify-center text-lg"
					>Download Resume</a
				>
			</div>

			<section class="mt-12">
				<div class="mx-auto max-w-sm text-center">
					<span class="font-aboreto text-3xl border-b-2 border-blurama text-white">Skills</span>
				</div>
				<div class="flex gap-x-14 justify-center text-lg py-6 sm:py-8 lg:py-12">
					<div>
						<img
							src={solid}
							alt="Photo by Lorenzo Herrera"
							class="w-16 h-16 object-cover object-center inset-0 group-hover:scale-110 transition duration-200"
						/>
						<span class="font-inter text-gray-600">SolidJS</span>

						<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
							<div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 25%"></div>
						</div>
					</div>

					<div class="flex justify-center items-center flex-col">
						<img
							src={java}
							loading="lazy"
							alt="Photo by Lorenzo Herrera"
							class="w-16 h-16 object-contain object-center inset-0 group-hover:scale-110 transition duration-200"
						/>
						<span class="font-inter text-gray-600">Java</span>

						<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
							<div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 65%"></div>
						</div>
					</div>

					<div class="flex justify-center items-center flex-col">
						<img
							src={tailwind}
							loading="lazy"
							alt="Photo by Lorenzo Herrera"
							class="w-16 h-16 object-cover object-center inset-0 group-hover:scale-110 transition duration-200"
						/>
						<span class="font-inter text-gray-600">TailwindCSS</span>

						<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
							<div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 45%"></div>
						</div>
					</div>

					<div>
						<div class="flex justify-center">
							<img
								src={ts}
								loading="lazy"
								alt="Photo by Lorenzo Herrera"
								class="w-16 h-16 object-cover object-center inset-0 group-hover:scale-110 transition duration-200 mr-8"
							/>
							<img
								src={js}
								loading="lazy"
								alt="Photo by Lorenzo Herrera"
								class="w-16 h-16 object-cover object-center inset-0 group-hover:scale-110 transition duration-200"
							/>
						</div>

						<span class="font-inter text-gray-600">Typescript | Javascript</span>

						<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
							<div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 65%"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="mt-12">
				<div class="mx-auto max-w-sm text-center">
					<span class="font-aboreto text-3xl border-b-2 border-blurama text-white">Blog</span>
				</div>

				<div class="py-6 sm:py-8 lg:py-12">
					<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
						<div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6 xl:gap-8">
							<!-- article - start -->
							<a
								href="#"
								class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
							>
								<img
									src={ahmad}
									loading="lazy"
									alt="Photo by Minh Pham"
									class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
								/>

								<div
									class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
								>
								</div>

								<div class="relative p-4 mt-auto">
									<span class="block text-gray-200 text-sm">July 19, 2021</span>
									<h2 class="text-white text-xl font-semibold transition duration-100 mb-2">New trends in Tech</h2>

									<span class="text-indigo-300 font-semibold">Read more</span>
								</div>
							</a>
							<!-- article - end -->

							<!-- article - start -->
							<a
								href="#"
								class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
							>
								<img
									src={omni}
									loading="lazy"
									alt="Photo by Lorenzo Herrera"
									class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
								/>

								<div
									class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
								>
								</div>

								<div class="relative p-4 mt-auto">
									<span class="block text-gray-200 text-sm">April 07, 2021</span>
									<h2 class="text-white text-xl font-semibold transition duration-100 mb-2">
										Working with legacy stacks
									</h2>

									<span class="text-indigo-300 font-semibold">Read more</span>
								</div>
							</a>
							<!-- article - end -->

							<!-- article - start -->
							<a
								href="#"
								class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
							>
								<img
									src={mountain}
									loading="lazy"
									alt="Photo by Magicle"
									class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
								/>

								<div
									class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
								>
								</div>

								<div class="relative p-4 mt-auto">
									<span class="block text-gray-200 text-sm">March 15, 2021</span>
									<h2 class="text-white text-xl font-semibold transition duration-100 mb-2">
										10 best smartphones for devs
									</h2>

									<span class="text-indigo-300 font-semibold">Read more</span>
								</div>
							</a>
							<!-- article - end -->

							<!-- article - start -->
							<a
								href="#"
								class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
							>
								<img
									src={bh}
									loading="lazy"
									alt="Photo by Martin Sanchez"
									class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
								/>

								<div
									class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
								>
								</div>

								<div class="relative p-4 mt-auto">
									<span class="block text-gray-200 text-sm">January 27, 2021</span>
									<h2 class="text-white text-xl font-semibold transition duration-100 mb-2">
										8 High performance Notebooks
									</h2>

									<span class="text-indigo-300 font-semibold">Read more</span>
								</div>
							</a>
							<!-- article - end -->
						</div>
					</div>
				</div>
			</section>

			<section class="mt-12">
				<div class="mx-auto max-w-sm text-center">
					<span class="font-aboreto text-3xl border-b-2 border-blurama text-white">Projects</span>
				</div>

				<div class="py-6 sm:py-8 lg:py-12">
					<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
						<div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6 xl:gap-8">
							<!-- article - start -->
							<a
								href="#"
								class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
							>
								<img
									src={shapes}
									loading="lazy"
									alt="Photo by Minh Pham"
									class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
								/>

								<div
									class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
								>
								</div>

								<div class="relative p-4 mt-auto">
									<h2 class="text-white text-xl font-semibold transition duration-100 mb-2">Image Gallery Website</h2>
								</div>
							</a>
							<!-- article - end -->

							<!-- article - start -->
							<a
								href="#"
								class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
							>
								<img
									src={deer}
									loading="lazy"
									alt="Photo by Lorenzo Herrera"
									class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
								/>

								<div
									class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
								>
								</div>

								<div class="relative p-4 mt-auto">
									<h2 class="text-white text-xl font-semibold transition duration-100 mb-2">Wildlife</h2>
								</div>
							</a>
							<!-- article - end -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>
